<!DOCTYPE html>
<html lang="de">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/style_01.css">
        <title>Szapp Pflapp</title>
        <link rel="icon" type="image/x-icon" href="../static/img/001-botanic.svg">
    </head>

    <body>
        <h1>Szapp Pflapp</h1>

        <div id="divShortDescr">
            <p>
                Szapp Pflapp ist ein Tool zur Bewässerungskontrolle deiner Pflanzen. Jede Pflanze kann eingetragen
                werden
                und du kannst ihren Bewässerungsstatus fortan Tag und Nacht über diese Webseite im Auge behalten. Nie
                wieder wirst du dich fragen, welche Pflanzen gegossen werden müssen und welche nicht. Nie wieder wirst
                du
                Wasser verschwenden oder deine Pflanzen ertränken weil du mal wieder zu viel gegossen hast. Szapp Pflapp
                revolutioniert deinen Pflanzen Haushalt und nimmt dir die Arbeit ab!
            </p>
        </div>

        <form method="get" action="/main_page">
            <button id="btnStart">Starten</button>
        </form>
    </body>

</html>