<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style_01.css">
    <title>Szapp Pflapp</title>
    <link rel="icon" type="image/x-icon" href="../static/img/001-botanic.svg">
    <script
        src="http://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">
    </script>
</head>
<body>
    <h1>Szapp-Pflapp</h1>
    <div class="container">
        <!-- macht ihr hier einfach mal ein heading -->
        <div id="plants_container"> 
            <!-- 
                in diesen container kommen die Pflanzen daten rein
                wird über die api und js geregelt
                wie genau muss ich mir noch überlegen
                diese divs sollten ja dann auch link funktionieren damit man sich details anzeigen lassen kann
                ich stelle euch dafür einfach alle datein bereit und der Rest ist euer Ding
                
                Details folgen.

                Viel Spaß ;)
            -->
        </div>
    </div>
    <footer>
        <a href="/imprint">Imprint</a>
    </footer>
</body>
<script src="static/js/main.js"></script>
</html>