<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style_01.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <title>Szapp Pflapp</title>
    <link rel="icon" type="image/x-icon" href="../static/img/001-botanic.svg">
    <script type="application/x-javascript" src="http://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous">
    </script>

    <link rel="stylesheet" href="../static/css/wave.css">
    <style>
        /* Height is fixed at10% rn. HAS TO CHANGE FOR EVERY PLANT!!! */
        .wave {
            background: linear-gradient(to bottom, var(--green) calc(99.8% - 10%), var(--blue) calc(99.8% - 10%));
        }

        .wave.dry {
            background: linear-gradient(to bottom, var(--orange) calc(99.8% - 10%), var(--blue) calc(99.8% - 10%));
        }

        .wave::before {
            bottom: 10%;
        }

        .wave::after {
            bottom: 10%;
        }
    </style>
</head>

<body>
    <h1>Szapp-Pflapp</h1>
    <div id="plants_container">
        <!-- 
                in diesen container kommen die Pflanzen daten rein
                wird über die api und js geregelt
                wie genau muss ich mir noch überlegen
                diese divs sollten ja dann auch link funktionieren damit man sich details anzeigen lassen kann
                ich stelle euch dafür einfach alle datein bereit und der Rest ist euer Ding
                
                Details folgen.

                Viel Spaß ;)
            -->
        <a href="/add_plant" class="plant" id="add_plant">
            +
        </a>
    </div>
    <footer>
        <a href="/imprint">Imprint</a>
    </footer>
</body>
<script type="application/x-javascript" src="static/js/main.js"></script>

</html>