{% extends 'base.html' %}

<!-- HEAD -->
{% block head %}
<title>SAP-Pflapp-Hub</title>
{% endblock %}


<!-- BODY -->
{% block body %}
<div class="center">
    <h1>SAP Pflapp Hub</h1>
    <div id="plantlist" class="plantlist center">
        {% for plant in plants %}
        <a href="/plant_info/{{ plant.pId }}">
        <div class="plant center tile">
            <img src="https://skillicons.dev/icons?i=js">
            <p class="name">{{ plant.name }}</p>
            <p class="room">{{ plant.room }}</p>
            <p class="species">{{ plant.species }}</p>
        </div>
        </a>
        {% endfor %}
    </div>

    <div id="details hidden">
    </div>
</div>
{% endblock %}
